@font-face {
    font-family: 'GangwonEdu_OTFBoldA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

:root {
    --color-white: #ffffff;
    --color-black: #000000;
    --color-green: #0c423a;
    --color-grey: #88989e;
    --color-olive: #576151;

    --font-large: 48px;
    --font-medium: 28px;
    --font-regular: 18px;
    --font-regular: 16px;
    --font-regular: 14px;

    --size-border-radius: 4px;

    --animation-duration: 300ms;
}

* { box-sizing: border-box; }

body {
    font-family:'GangwonEdu_OTFBoldA';
    margin: 0;
}

a {
    text-decoration: none;
    color: var(--color-white);
}

ul {
    padding-left: 0;
}

li {
    list-style-type: none;
}

button {
    background-color: var(--color-white);
    cursor: pointer;
    border: none;
    outline: none;
}

h1 {
    font-size: var(--font-large);
    font-weight: bold;
    color: var(--color-black);
    margin: 16px 0px;
}

h2 {
    font-size: var(--font-medium);
    color: var(--color-black);
    margin: 8px 0px;
}

h3 {
    font-size: var(--font-regular);
    color: var(--color-black);
    margin: 8px 0px;
}

p {
    font-size: var(--font-regular);
    color: var(--color-black);
    margin: 4px 0px;
}

/* NavBar */
#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    background-color: var(--color-green);
}

.navbar_logo {
    font-size: var(--font-medium);
    font-weight: bold;
    color: var(--color-white);
}

.navbar_menu {
    display: flex;
}

.navbar_menu_item {
    padding: 8px 12px;
    margin: 0 4px;
    color: var(--color-white);
    cursor: pointer;
}

.navbar_menu_item.active {
    border: 1px solid white;
    border-radius: var(--size-border-radius);
}

.navbar_menu_item:hover {
    background-color: var(--color-grey);
    border-radius: var(--size-border-radius);
}

.navbar_toggle-btn {
    position: absolute;
    top: 24px;
    right: 32px;
    font-size: 24px;
    color: var(--color-white);
    display: none;
}

/* 홈 */
#home {
    background: url(./images/Nature.png) center/cover no-repeat;
    padding: 40px;
    text-align: center;
}

.home_avatar {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 2px solid var(--color-white);
}

.home_title, .home_description {
    color: var(--color-white);
}

.home_contact {
    color: var(--color-olive);
    font-size: var(--font-regular);
    font-weight: bold;
    margin: 24px;
    padding: 8px 12px;
    border: 2px solid var(--color-white);
    border-radius: var(--size-border-radius);
}













