@font-face {
    font-family: 'GangwonEdu_OTFBoldA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

:root {
    --color-white: #faf6f0;
    --color-black: #090909;
    --color-green: #b9191d;
    --color-grey: #88989e;
    --color-olive: #576151;

    --font-large: 48px;
    --font-medium: 28px;
    --font-regular: 18px;
    --font-regular: 16px;
    --font-regular: 14px;

    --size-border-radius: 4px;

    --animation-duration: 300ms;
}

* { box-sizing: border-box; }

body {
    font-family: 'Inconsolata', monospace;
    margin: 0;
}

a {
    text-decoration: none;
    color: var(--color-black);
}

ul {
    padding-left: 0;
}

li {
    list-style-type: none;
}

button {
    background-color: var(--color-black);
    cursor: pointer;
    border: none;
    outline: none;
}

h1 {
    font-size: var(--font-large);
    font-weight: bold;
    color: var(--color-black);
    margin: 16px 0px;
}

h2 {
    font-size: var(--font-medium);
    color: var(--color-black);
    margin: 8px 0px;
}

h3 {
    font-size: var(--font-regular);
    color: var(--color-black);
    margin: 8px 0px;
}

p {
    font-size: var(--font-regular);
    color: var(--color-black);
    margin: 4px 0px;
}

/* NavBar */
#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 16px; */
    margin: 0;
    padding: 0;
    background-color: var(--color-white);
}

/* .navbar_logo {
    font-size: var(--font-medium);
    font-weight: bold;
    color: #090909;
} */

.navbar_menu {
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar_menu_item {
    padding: 8px 20px;
    margin: 0 4px;
    color: #090909;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 90px;
}

.navbar_menu_item.active {
    /* border: 1px solid #090909; */
    border-radius: var(--size-border-radius);
}

.navbar_menu_item:hover {
    background-color: var(--color-grey);
    border-radius: var(--size-border-radius);
}

.navbar_toggle-btn {
    position: absolute;
    top: 24px;
    right: 32px;
    font-size: 24px;
    color: #090909;
    display: none;
}

/* 홈 */
#home {
    /* background: url(./images/Nature.png) center/cover no-repeat; */
    /* padding: 40px; */
    text-align: center;
}

video {
    object-fit: cover;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0;
}

.video-wrapper {
    position: relative;
    width: 1900px;
    height: 900px;
    overflow: hidden;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}
.home_avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid var(--color-white);
    margin: 80px;
}

.home_title, .home_description {
    color: var(--color-black);
}

.home_contact {
    color: var(--color-olive);
    font-size: var(--font-regular);
    font-weight: bold;
    margin: 24px;
    padding: 8px 12px;
    border: 2px solid var(--color-white);
    border-radius: var(--size-border-radius);
}

.home_description {
    font-family: 'GangwonEdu_OTFBoldA';
}

.section {
    padding: 50px;
    text-align: center;
    margin: auto;
}

.section__container {
    max-width: 1200px;
    margin: auto;
}

.about__majors {
    display: flex;
    justify-content: space-between;
    margin: 80px 0;
}

.major_icon {
    width: 170px;
    height: 170px;
    line-height: 170px;
    font-size: 70px;
    margin: auto;
    color: var(--color-green);
    border: 1px solid var(--color-green);
    border-radius: 50%;
    margin-bottom: 16px;
}

.major_icon i {
    transition: all var(--animation-duration) ease;
}

.major_icon:hover i{
    color: var(--color-green);
    transform: rotate(-30deg) scale(1.1);
}

/* 내 소개 */
.profile {
    display: flex;
}

.profileimg {
    width: 45%;
}

.profileimg img {
    max-width: 100%;
    vertical-align: middle;
}

.profilecontent {
    width: 85%;
    margin-left: 50px;
    text-align: left;
}

.profilewrapper {
    width: 65%;
    margin: 0 auto;
}

.profilecontent h2 {
    margin-top: 0px;
}

.profilecontent p {
    padding-top: 20px;
    font-family: 'GangwonEdu_OTFBoldA';
    font-size: 16px;
}

.job img {
    width: 270px;
    height: 270px;
    line-height: 270px;
    border-radius: 50%;
    margin-bottom: 16px;
}

.job img:hover {
    color: var(--color-green);
    transform: scale(1.1);
}

.job {
    margin-bottom: 40px;
}

.project_img {
    width: 400px;
    padding-bottom: 50px;
    padding-top: 20px;
}

.category__btn {
    background-color: var(--color-white);
    cursor: pointer;
    border: none;
    outline: none;
}

.job_company {
    font-weight: bold;
}

.major_title {
    font-family: 'GangwonEdu_OTFBoldA';
}

#korean {
    font-family: 'GangwonEdu_OTFBoldA';
}

/* 추천서 */
.testimonial_speech-bubble {
    line-height: 24px;
    margin-top: 40px;
}

.name {
    font-style: italic;
    padding: 10px;
}